.navbar-brand h1{
color: black;
}

.navbar{
	border: 2px solid black;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.navbar button.navbar-toggler{
	border: 1px solid black;
}

.heading{
	margin-top: 20px;
}

.nav-item{
	background-color: blue;
	text-align: center;
	border: 1px solid black;
}